<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - F1WebGame</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/F1WebGame.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">F1WebGame</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item" id="newGame">
                            @Html.ActionLink("Nouvelle partie", "Index", "Home", null,new{@class="nav-link text-dark"})
                        </li>*@
                        <li class="nav-item hidden" id="inGame">
                            @Html.ActionLink("Course", "Index", "Course", null,new{@class="nav-link text-dark"})
                        </li>
                        <li class="nav-item hidden" id="inGame">
                            @Html.ActionLink("Écuries", "Index", "Equipe", null,new{@class="nav-link text-dark"})
                        </li>
                        <li class="nav-item hidden" id="inGame">
                            @Html.ActionLink("Pilotes", "Index", "Pilote", null,new{@class="nav-link text-dark"})
                        </li>
                        <li class="nav-item hidden" id="inGame">
                            @Html.ActionLink("Calendrier", "Index", "Calendrier", null,new{@class="nav-link text-dark"})
                        </li>
                        <li class="nav-item hidden" id="inGame">
                            @Html.ActionLink("Classement", "Index", "Classement", null,new{@class="nav-link text-dark"})
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container justify-content-center">
            Projet personnel de Kilian Soudier développé pour le back-end avec ASP.Net Core MVC avec Entity Framework Core en code first avec une base de données Sql Server.<br /> Le Front-end est développé avec Bootstrap et Jquery pour l'intégration.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>